<ion-content>
  <div class="left-side">
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Ajouter une étape
    </ion-button>
    <div class="form">
      Formulaire à développer pour ajouter une opération
    </div>
    <ion-list>
  @for (chrono of (currentChrono$ | async)?.chronos; track $index) {
    <ion-item>
      <ion-label>{{chrono.id}}sdsdsdsdsdfsdgfdhdfhdwfg</ion-label>
    </ion-item>
  }
  
</ion-list>
</div>
<div class="content">
  Etape en cours

  Type d'étape
  Texte descriptif
  Note idée d'amélioration
</div>


</ion-content>