<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="refreshData()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">{{pageTitle}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageTitle}}</ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="refreshData()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Projet : F10X - VOILURES</ion-card-subtitle>
      <ion-card-title>Liste des actions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if(isLoading){
      <ion-spinner name="crescent"></ion-spinner>
      <p>Chargement des actions...</p>
      }
      @else if (isError) {
      <ion-text color="danger">
        <p>Une erreur est survenue lors du chargement des données.</p>
      </ion-text>
      }
      @else if (actionsRows.length === 0) {
      <ion-text color="medium">
        <p>Aucune action à afficher pour le moment.</p>
      </ion-text>
      }
      @else(){
        <ngx-datatable
      *ngIf="!isLoading && !isError && actionsRows.length > 0"
      class="material"  
      [rows]="actionsRows"
        [columns]="columns"
  [selectionType]="SelectionType.multiClick"
  [selectAllRowsOnPage]="false"
  [displayCheck]="allowSelection"
  [selectCheck]="allowSelection"
  (select)="onRowSelect($event)"
  >
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn()" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Statut" prop="status">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Créé par" prop="createdBy">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Titre" prop="title" [sortable]="true">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Description">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date de besoin" prop="needDate">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date : "dd/MM/yyyy" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Responsable">
          <!-- <ng-template ngx-datatable-header-template>
            {{ col.name }}
        </ng-template> -->
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
