<form [formGroup]="registerForm" (ngSubmit)="onRegisterClick()">
  <ion-item>
    <ion-input
      required
      formControlName="lastname"
      label="Nom"
      placeholder="Entrer votre nom"
      (ionChange)="onChangeName($event)"
    ></ion-input>
  </ion-item>
  <div *ngIf="isNameError">nom en erreur</div>
  <ion-item>
    <ion-input
      required
      formControlName="firstname"
      label="Prénom"
      placeholder="Entrer votre prénom"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Adresse mail"
      type="email"
      formControlName="email"
      placeholder="Entrer votre adresse mail"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      formControlName="roles"
      label="Rôle"
      placeholder="Choisir un role"
    >
      <ion-select-option *ngFor="let role of liste_role" [value]="role.value">{{
        role.viewValue
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select
      formControlName="services"
      label="Service"
      placeholder="Choisir un service"
    >
      <ion-select-option
        *ngFor="let service of liste_service"
        [value]="service.value"
        >{{ service.viewValue }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Projets actuels</ion-label>
    <ion-select formControlName="projects">
      <ion-select-option value="service.value"
        >service.viewValue</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Mot de passe</ion-label>
    <ion-input
      type="password"
      required
      formControlName="password"
      placeholder="Entrer votre mot de passe"
    ></ion-input>
  </ion-item>

  <ion-button type="submit" [disabled]="!registerForm.valid"
    >S'enregistrer</ion-button
  >
</form>
